/* Projects Section */
.projects-section {
    padding: 0 50px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.projects-section h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.projects-section .p-cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-section .p-cells .p-cell {
    display: block;
    text-align: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 275px;
    height: 280px;
    padding: 10px 20px;
    margin: 15px;
}

.projects-section .p-cells .p-cell img {
    width: 200px;
    height: 100px;
    border: solid 1px black;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 10px 0;
}

.projects-section .p-cells .p-cell .p-title {
    font-size: 15px;
    font-weight: bold;
}

.projects-section .p-cells .p-cell .p-overview {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px ;
}

.projects-section .p-cells .p-cell a {
    border: solid black 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

.projects-section .p-cells .p-cell a span {
    font-size: 15px;
    padding-left: 5px;
}

/* Responsive Design */
@media (max-width: 770px) {
    .projects-section {
        padding: 0 20px;
    }
}