/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 75px;
}

nav .left a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 25px;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    border-radius: 5px;
    padding: 8px 15px;
}

nav .right a:nth-child(3) {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 8px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* Responsive Design */
@media (max-width: 770px) {
    nav {
        padding: 0 20px;
    }

    nav .right a:nth-child(3) {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }
    
    nav .right a span {
        display: none;
    }
}